body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset,
img,
abbr {
    border: 0;
}

ul li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

sup {
    vertical-align: text-top;
}

sub {
    vertical-align: text-bottom;
}

input,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

img {
    max-width: 100%;
    height: auto;
}
html {
    overflow-x: hidden;
}

body {
	font-family: 'Roboto Slab', Tahoma, sans-serif;
}
div, a {
	box-sizing: border-box;
}
h2 {
	text-transform: uppercase;
	font-size: 37px;
	text-align: center;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.container {
	width: 1200px;
	margin: 0 auto;
}
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__logo {
	padding: 10px 50px 10px 0px;
}
.header__list {
	display: flex;
	justify-content: space-between;
	font-weight: bold;
	font-size: 14px;
	list-style: none;
}
.header__item a {
	color: #551a8b;
	padding: 12px 10px;
	text-decoration: none;
	cursor: pointer;
}
.header__item a:hover {
	background: #f7f2fe;
	transition: 0.3s ease;
	border-radius: 5px;
}
.order-call {
	color: #2f1059;
	font-size: 21px;
	font-weight: bold;
	text-align: right;
}
.order-call__btn {
	display: inline-block;
	margin-top: 7px;
	color: #2f1059;
	font-size: 14px;
	font-weight: bold;
	padding: 11px 7px;
	border: 1px solid #2f1059;
	border-radius: 5px;
	cursor: pointer;
	transition: background .5s, color .5s;
}
.order-call__btn:hover {
	background: #2f1059;
	color: #fff;
}
#house {
	background: url(../img/kvartiri.jpg) no-repeat center top;
	position: relative;
	height: 627px;
}
.flat {
	background: url(../img/oblako.png);
	text-align: center;
	color: #2f1059;
	margin-top: 29px;
	width: 1100px;
	height: 188px;
	left: 50%;
	margin-left: -550px;
	position: absolute;
}
.flat__text {
	font-size: 22px;
	padding-top: 45px;
}
.flat__text_bold {
	font-weight: bold;
}
.flat__title {
	font-size: 43px;
	text-transform: uppercase;
	font-weight: bold;
}
.flat__text_lower {
	font-size: 20px;
	padding: 0px;
}
.form {
	background: url(../img/form-bg.png) no-repeat ;
	position: absolute;
	left: 50%;
	margin-left: -390px;
	width: 780px;
	height: 240px;
	z-index: 1;
	margin-top: 416px;
	margin-bottom: -29px;
	color: #fbfafa;
	text-align: center;
	overflow-y: hidden;
}
.form__title {
	font-size: 24px;
	font-weight: bold;
	padding-top: 38px; 
}
.form__text {
	font-size: 17px;
	margin-bottom: 26px;
}
.form__input {
	width: 200px;
	height: 50px;
	color: #9c96a5;
	font-size: 16px;
	padding-left: 26px;
	margin-right: 8px;
	background: #e8def5;
	border-radius: 7px;
	border: 2px solid transparent;
	box-sizing: border-box;
}
.form__input_wrong {
	border: 2px solid #d22828;
}
.form__btn {
	padding: 0 27px;
	height: 50px;
	background: #d22828;
	color: #fff;
	font-size: 17px;
	text-decoration: none;
	border: 2px solid #d22828;
	border-radius: 7px;
	cursor: pointer;
}
.form__btn_disabled {
	color: #aaa;
}
.form__loading {
	margin-top: 20px;
}
.form__result {
	margin-top: 35px;
	color: #d22828;
}
.form__result img {
	margin-top: -10px;
	width: 40px;
}
.form__result_done {
	height: 50px;
	margin-top: 0;
	color: #fff;
	line-height: 50px;
}
.form__note {
	color: #8c4eee;
	margin-top: 35px;
	padding-bottom: 15px;
	font-size: 15px;
}
.form__note-border {
	border: 1px solid #8c4eee;
	border-radius: 3px;
	padding: 5px;
	margin-right: 3px;
	font-weight: bold;
}
.facts__list {
	list-style: none;
	display: flex;
	padding-bottom: 25px;
	padding-left: 7px;
}
.facts__item {
	background: url(../img/bg-list.png) no-repeat ;
	width: 155px;
	height: 147px;
	display: flex;
	justify-content: center;
  	align-items: center;
	padding-left: 7px;
	padding-right: 50px;
}
.facts__text {
	text-align: center;
	padding: 0px 5px;
}
.facts__text_bold {
	font-weight: bold;
}
.facts__item_low {
	margin-top: 195px;
}
.facts__item_middle {
	margin-top: 127px;
}
.facts__item_high {
	margin-top: 75px;
}
#ready {
	background: url(../img/fiolet-bg.png) no-repeat center;
	color: #fff;
	text-align: center;
}
.ready__title {
	padding-top: 40px;
	font-size: 30px;
}
.ready__text {
	font-size: 20px;
	padding-top: 10px;
	padding-bottom: 133px;
}
#location {
	text-align: center;
	padding-bottom: 80px;
}
.location__title {
	padding-top: 52px;
}
.location__text {
	padding-top: 18px;
	font-size: 20px;
}
.zones__list {
	list-style: none;
	padding-top: 15px;
	display: flex;
	justify-content: space-between;
}
.zones__item {
	width: calc(100%/3);
}
.zones__item_lower {
	margin: 23px -36px 0px -36px;
}
.zones__title {
	font-size: 21px;
	margin-top: -18px;
}
.zones__text {
	font-size: 15px;
	padding-top: 5px;
}
.zones__text_last {
	padding: 5px 90px 0px 90px;
}
#infra {
	background: url(../img/infra.jpg) no-repeat center;
	padding-top: 70px;
	text-align: center;
}
.infra__list-block {
	margin: 72px auto 0;
	list-style: none;
	display: flex;
	justify-content: center;
	text-align: left;
}
.infra__list {
	padding-right:  30px;
}
.infra__list_last {
	padding-right: 0px;
}
.infra__list-title {
	font-size: 19px;
}
.infra__shadow {
	padding-top: 15px;
}
.infra__list-item {
	padding-top: 10px;
	list-style: none;
	font-size: 16px;
	color: #3e423e;
	padding-bottom: 26px;
	width: 100%;
}
.infra__item:after {
	content: '';
	display: block;
	width: 350px;
	height: 1px;
	background: #dee8de;
	margin: 10px 0px;
}
#green {
	background: url(../img/green-bg.png) repeat-x;
	margin-top: -5px;
}
.data-list {
	margin: 0 auto;
	list-style: none;
	display: flex;
    justify-content: space-around;
}
.data-list__item {
	display: flex;
}
.data-list__icon {
	padding: 28px 0px;
}
.data-list__text {
	padding: 35px 29px 35px 19px;
	color: #fff;
	font-size: 17px;
}
.data-list__text_last {
	padding-right: 0px;
}
.data-list__text_bold {
	font-weight: bold;
}
#construct {
	text-align: center;
}
.construct__title {
	padding-top: 85px;
}
.construct__list {
	list-style: none;
	display: flex;
	justify-content: space-around;
	margin: 58px auto 70px;
}
.construct__item {
	width: 325px;
}

.construct__item-title {
	padding-bottom: 22px;
	font-size: 22px;
}

.construct__item-text {
	text-align: left;
	font-size: 15px;
	padding-left: 3px;
	padding-top: 20px;
}
#equip {
	background: url(../img/green-comp.jpg) no-repeat center;
	color: #fff;
	padding-bottom: 56px;
}
.equip__title {
	padding-top: 60px;
}
.equip__note {
	padding-top: 40px;
	padding-left: 100px;
	font-size: 19px;
}
.equip__list-block {
	list-style: none;
	padding-top: 30px;
	padding-left: 100px;
	display: flex;
	list-style-position: inside;
}
.equip__list-item-list {
	padding-right: 20px;
}
.equip__list-item-list_last {
	padding-right: 0px;
}
.equip__item {
	list-style-image: url(../img/galochka.png);
}
.equip__item:after {
	content: '';
	display: block;
	width: 342px;
	height: 1px;
	background: #48a23c;
	margin-top: 6px;
	margin-bottom: 13px;
}
#document {
	background: url(../img/gramota-bg.jpg) no-repeat center / cover;
	text-align: center;
	padding-bottom: 23px;
}
.document__title {
	padding-top: 80px;
}
.document__text {
	margin-top: 20px;
	font-size: 21px;
}
.document__list {
	margin: 40px auto 0;
	list-style: none;
	display: flex;
	justify-content: space-around;
}
.document__item {
	padding-right: 34px;
}
.footer {
	background: #080808;
	color: #f0efef;
	font-size: 14px;
}
.footer .container {
	display: flex;
	justify-content: space-between;
}
.foot__logo {
	padding: 28px 0px;
}
.foot__text-block {
	padding: 40px 76px 40px 68px;
}
.foot__text {
	font-size: 13px;
}
.foot__text_link {
	color: #f0efef;
	text-decoration: none;
}
.foot__text_link:hover {
	border-bottom: 2px solid #f0efef;
}
.foot__icon {
	padding-right: 8px;
	display: inline;
	padding-top: 25px;
}
.foot__address {
	padding: 23px 0px;
	position: relative;
}
.foot__address::before {
	content: "";
	display: block;
	width: 11px;
	height: 17px;
	background: url(../img/geoloc.png) no-repeat;
	position: absolute;
	left: -20px;
}
.foot__address_bold {
	font-weight: bold;
}
.email {
	font-size: 13px;
}
.order-call_foot {
	color: #fff;
	padding: 28px 0px;
}
.order-call__number_foot {
	padding-top: 0px;
}
.order-call__btn_foot {
	color: #fff;
	border: 1px solid #fff;
}
.order-call__btn_foot:hover {
	background: #fff;
	color: #000;
}